body {
  margin: 0;
}

.header-container {
  width: 1230px;
  height: 75px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.img-logo {
  margin: 19px 36px 19px 50px;
}

nav {
  display: flex;
  gap: 26px;
  align-items: center;
  justify-content: center;
}

nav div {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #33383f;
  line-height: 0.16em;
  letter-spacing: 0.01em;
}

.btn-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 31px;
  margin-right: 54px;
}

.header-sign {
  margin-left: auto;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #0070a0;
  cursor: pointer;
  font-weight: 400;
}

.header-button {
  font-weight: 400;
  width: 139px;
  height: 36px;
  margin-left: auto;
  color: #fff;
  background-color: #0070a0;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.about-container {
  width: 1130px;
  height: 433.58px;
  margin: auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.about-container-text {
  width: 525px;
  height: 321px;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.text-container-header {
  font-family: "Fraunces", serif;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 58px;
  line-height: 63.8px;
  letter-spacing: 0px;
  color: #1f1f1f;
}

.text-container-p {
  width: 351px;
  height: 90px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #1f1f1f;
  margin-top: 0;
  font-family: "Inter", sans-serif;
  margin-bottom: 25px;
}

.about-buttons {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 12.28px;
  margin-top: 0;
}

.about-button {
  color: #fff;
  background-color: #0070a0;
  width: 174px;
  height: 43px;
  font-size: 17px;
  letter-spacing: 0.01em;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.about-learn_more {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 43px;
  margin: 0;
}

.about-learn_more-p {
  font-family: "Inter", sans-serif;
  color: #0070a0;
  font-size: 17px;
  text-align: center;
  margin: 0;
  line-height: 159%;
  letter-spacing: 0.01em;
}

.about-container-img {
  align-self: flex-start;
}

.trusted_companies-container {
  width: 1230px;
  height: 96.81px;
  display: flex;
  flex-direction: column;
  gap: 23.58px;
  margin: auto;
  margin-top: 120px;
}

.trusted_companies-header {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 156%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #1f1f1f;
  margin: 0;
}

.trusted_companies-images {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.opportunities-container {
  margin: auto;
  display: flex;
  gap: 32px;
  margin-top: 160px;
  justify-content: center;
  margin-bottom: 119.61px;
}

.opportunities-card {
  width: 325px;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  justify-content: center;
  gap: 8px;
}

.opportunities-card:nth-child(1) {
  background-color: #faea73;
}

.opportunities-card:nth-child(2) {
  background-color: #cceff6;
}

.opportunities-card:nth-child(3) {
  background-color: #f7cedc;
}

.opportunities-card-img {
  width: 55px;
  height: 55px;
}

.opportunities-card-h2 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  margin: 0;
}

.opportunities-card-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  margin: 0;
  margin-top: 3px;
  width: 287px;
}

.can_do {
  background-color: #f7f9fa;
  height: 694px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.can_do-container {
  height: 534px;
  width: 1230px;
}

.can_do-header {
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: -1;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  width: 650px;
  margin: 0;
  margin-left: 50px;
}

.can_do-container-div {
  width: 1166px;
  height: 400px;
  margin: auto;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.can_do-container-div-img {
  width: 481px;
  height: 479px;
  margin: 0;
  margin-right: 60px;
}

.list_of_can_do {
  margin: 0;
  margin-top: 20px;
  margin-left: 16px;
}

.list-container {
  border-top: 0.5px solid rgba(194, 205, 216, 0.1);
  border-bottom: 0.5px solid rgba(194, 205, 216, 0.5);
  width: 450px;
  height: 64px;
}

.list-container:nth-child(1) {
  width: 450px;
  height: 157px;
}

.one_of_a_list {
  display: flex;
  gap: 16px;
  margin-left: 12px;
}

.one_of_a_list h3 {
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
}

.one_of_a_list-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  width: 363px;
  margin-left: 60px;
  margin-bottom: 25px;
  margin-top: 0;
}

.one_of_a_list img:nth-child(3) {
  margin-left: auto;
  margin-right: 16px;
}

.whats-all-about {
  height: 458px;
}

.whats-all-about-container {
  width: 1130px;
  height: 218px;
  display: flex;
  gap: 98px;
  margin: auto;
  padding-top: 120px;
}

.all-about-title {
  width: 300px;
  height: 218px;
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
}

.list-all-about {
  width: 732px;
  height: 218px;
  display: flex;
  gap: 32px;
}

.list-all-about div {
  width: 222.66px;
  height: 218px;
}

.all-about-card-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-about-card-first h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  margin: 0;
  margin-top: 62.61px;
}

.all-about-card-first p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  margin: 0;
  margin-bottom: 14.39px;
  width: 215px;
}

.all-about-card-rest h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  margin: 0;
}

.all-about-card-rest p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  margin: 0;
  margin-bottom: 14.39px;
  width: 215px;
}

.all-about-card-rest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-about-card-rest img {
  width: 55px;
  height: 55px;
}

.why-choose-us {
  height: 550px;
  background-color: #0070a0;
}

.why-choose-us-container {
  width: 1130px;
  height: 389.97px;
  margin: auto;
  padding-top: 80.39px;
  display: flex;
  gap: 187px;
}

.why-choose-us-container img {
  margin-bottom: 16.36px;
  margin-left: 60px;
}

.why-choose-us-text-container {
  width: 501px;
  height: 389px;
}

.why-choose-us-text-container h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #ffffff;
  font-family: "Fraunces", serif;
  margin: auto;
}

.why-choose-us-text-container ul {
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.why-choose-us-text-container li {
  list-style-image: url(/assets/list.svg);
  list-style-position: inside;
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.why-choose-us-text-container li:nth-child(1) {
  margin-top: 20px;
}

.why-choose-us-text-container button {
  width: 176px;
  height: 43px;
  background-color: #0070a0;
  border: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.automated {
  height: 648px;
}

.automated-container {
  width: 1230px;
  height: 408px;
  margin: auto;
  padding-top: 120px;
}

.automated-container h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  padding-left: 50px;
  margin: 0;
}

.automated-container p {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  width: 643px;
  padding-left: 50px;
  margin: 0;
  margin-top: 18px;
}

.automated-options {
  display: flex;
  gap: 64px;
  width: 1130px;
  margin: auto;
  margin-top: 68px;
}

.automated-options div {
  width: 234.5px;
  height: 218px;
}

.automated-options h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  margin-top: 7px;
  margin-bottom: 0;
}

.automated-options p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  padding: 0;
  width: 235px;
  margin-top: 11px;
}

.blog {
  height: 747px;
  background-color: #f7f9fa;
}

.blog-container {
  width: 1230px;
  height: 587px;
  margin: auto;
  padding-top: 80px;
}

.blog-text {
  width: 1130px;
  height: 68px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.blog-text h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  margin: 0;
}

.blog-text p {
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0070a0;
  font-family: "Inter", sans-serif;
  margin: 0;
  margin-right: 32px;
  align-self: center;
}

.blog-cards-container {
  width: 1130px;
  height: 486px;
  margin: auto;
  margin-top: 32px;
  display: flex;
  gap: 32px;
}

.blog-card {
  width: 355px;
  height: 487px;
  background-color: #fff;
}

.blog-card img {
  margin-bottom: 25px;
}

.first-div {
  background-color: #e6f7ff;
  width: 122px;
  height: 22px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2c90c9;
  font-family: "Inter", sans-serif;
  margin-left: 24px;
}

.blog-card h2 {
  margin: 0;
  margin-top: 8px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
}

.blog-card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  margin-left: 24px;
  width: 304px;
}

.blog-card p:last-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  margin-left: 24px;
  width: 304px;
}

.second-div {
  background-color: #e6f7ff;
  width: 112px;
  height: 22px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2c90c9;
  font-family: "Inter", sans-serif;
  margin-left: 24px;
}

.third-div {
  background-color: #e6f7ff;
  width: 60px;
  height: 22px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2c90c9;
  font-family: "Inter", sans-serif;
  margin-left: 24px;
}

.get_started {
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get_started-container{
  width: 1130px;
  height: 370px;
  background-color:#E6F7FF;
}

.get_started-container h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  margin-top: 63px; 
  margin-left: 64px;
  margin-bottom: 18px;
}

.get_started-container p{
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  font-family: "Inter", sans-serif;
  width: 481px;
  margin-left: 64px;
  margin-bottom: 0;
}

.get_started-container button{
  margin-left: 64px;
  margin-top: 36px;
}

.get_started-container-div{
  display: flex;
  align-items: center;
  width: 502.91px;
  gap: 32px;
  margin-top: 20px;
  margin-left: 64px
}

.get_started-container-div div{
  display: flex;
}

.get_started-container-div div:first-child{
  width: 128px;
}

.get_started-container-div div p{
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
  letter-spacing: 0.02em;
  color: #626a72;
}

footer{
  height: 432px;
}

.footer-wrapper{
  width: 1230px;
  height: 352px;
  margin: auto;
  padding-top: 48px;
}

.footer-main{
  width: 1130px;
  height: 216px;
  margin: auto;
  display: flex;
  gap: 16px
}

.footer-main div img{
  width: 135px;
  height: 47px;
  margin-bottom: 20px;
}

.footer-main div p{
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.other-color{
  color:#0070a0;
  font-weight: 400;
  font-size: 13px;
  line-height: 151%;
  letter-spacing: 0.02em;
}

.footer-main div:first-child{
  width: 432.8px;
}

.footer-main div h3{
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.footer-main div ul{
  list-style-type: none;
  padding: 0;
}

.footer-main div ul li{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.02em;
  color: #626a72;
  font-family: "Inter", sans-serif;
}

.footer-main div{
  width: 216.39px;
}

.last-div h3:first-child{
  margin-bottom: 12px;
}

.last-div h3:last-child{
  width: 216px;
  margin-bottom: 12px;
}

.last-div div{
  display: flex;
  margin-left: 15px;
  justify-content: space-between;
  margin-top: 30px;
  align-items: flex-end;
  border-bottom: 1px solid rgb(196, 196, 196);
} 

.last-div div img{
  width: 22px;
  height: 28px;
  margin: 0;
}

.last-div div p{
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.02em;
  color: #626a72;
}

.line{
  height: 1px;
  width: 1130px;
  background: #dee5eb;
  margin: auto;
  margin-top: 64px;
}

.socials{
  margin: auto;
  margin-top: 36px;
  width: 1130px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.socials p{
  font-weight: 400;
  font-size: 13px;
  line-height: 151%;
  letter-spacing: 0.02em;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.socials div{
  display: flex;
  gap: 20px;
  align-items: center;
}

.socials img{
  width: 22px;
  height: 23px;
}